$color-primary: #dfdfdf;

.booksList {
  .bookNameWrapper {
    .bookName {
      display: inline-block;
      padding: 8px 20px;
      background-color: $color-primary;
      border-radius: 10px;
    }
  }
}

@import "~bootstrap/scss/bootstrap.scss";
